__pycache__/
*.py[cod]
*.so

.DS_Store
.idea/
.vscode/

.env
.venv/
env/
venv/

checkpoints/
dataset/
datasets/
data_root/
results/
outputs/
logs/

*.npy
*.pt
*.pth
*.ckpt
*.safetensors
*.nii
*.nii.gz

*.ipynb_checkpoints/
